@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    background-color: var(--Red);
    background-image: url("./images/bg-intro-mobile.png");
    background-size: 100%;
    font-family: 'Poppins', sans-serif;

}

.attribution { font-size: 11px; text-align: center; 
color: white;
margin-top: 10px;}
.attribution a { color: white;}


:root{
--Red: hsl(0, 100%, 74%);
--Green: hsl(154, 59%, 51%);
--Blue: hsl(248, 32%, 49%);
--Dark-Blue: hsl(249, 10%, 26%);
--Grayish-Blue: hsl(246, 25%, 77%)
}
.main-container{
    color: white;
    margin: 0px 30px;
}
.title-container{
    margin: 0 auto;
    padding: 0px;
    text-align: center;
}
.title-container__title{
    font-size: 2em;
    line-height: 40px;
    margin: 25px 0px;
    margin-top: 70px;
    
}
.title-container__parraf{
    margin: 0px 20px;

}
.section{

}
.section__article{
    background-color: var(--Blue);
    height: 80px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 7px 0px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 7px 0px 0px rgba(0,0,0,0.11);
    box-shadow: 0px 7px 0px 0px rgba(0,0,0,0.11);
}
.section__article__text{
    width: 80%;
    text-align: center;

    
    
    
    
}
.section__article__text span{
    margin-right: 5px;
    font-weight: 600;

}
.section__form-container{
    background-color: white;
    border-radius: 8px;
    min-height: 440px;
    box-sizing: content-box;
    -webkit-box-shadow: 0px 7px 0px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 7px 0px 0px rgba(0,0,0,0.11);
    box-shadow: 0px 7px 0px 0px rgba(0,0,0,0.11);
    
    
    
}
.section__form-container__form{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0px auto;
    
    padding-top: 20px;
    
    
    
}
.section__form-container__form__input{
    padding: 17px;
    border-radius: 5px;
    border: 1px solid var(--Grayish-Blue);
    font-weight: 600;
    position: relative;
    margin-top: 15px;
    
    
}
.section__form-container__form__button{
    padding: 20px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: var(--Green);
    letter-spacing: 1px;
    margin-top: 5px;
    margin-top: 15px;
    -webkit-box-shadow: inset 0px -5px 0px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: inset 0px -5px 0px 0px rgba(0,0,0,0.11);
    box-shadow: inset 0px -5px 0px 0px rgba(0,0,0,0.11)
}
.section__form-container__parraf{
    color: var(--Grayish-Blue);
    font-size: 0.7em;
    width: 65%;
    margin: 0 auto;
    text-align: center;
    line-height: 20px;
    margin-top: 10px;
    
}
.section__form-container__parraf span{
    color: var(--Red);
    font-weight: 600;
    
}
.error{
    font-size: 0.7em;
    color: var(--Red);
    position: relative;
    
    text-align: right;
    font-weight: 600;
    font-style: italic;
    display: none;
    
    

}
.error__icon{
    position: absolute;
    right: 10px;
    top: -38px;
    


}
@media (min-width: 1120px){
    .main-container{
        width: 1180px;
        height: 600px;
        display: flex;
        margin: 60px auto;
    }
    body{
       background-image: url("./images/bg-intro-desktop.png")
    }
    .section{
        width: 800px;
        height: 9000px;

    }
    .section__form-container{
        
    }
    .title-container{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 50px;
        
    }
    .title-container__title{
        font-size: 3em;
        width: 500px;
        text-align: left;
        line-height: 50px;
        

    }
    .title-container__parraf{
        text-align: left;
        width: 600px;

    }
    .section__article{
        height: 60px;
    }
    .section__form-container__parraf{
        font-size: 0.7em;
        width: 100%;
        
    }

  
}

